body {
    background-color: var(--main-bg);
    gap: 25px;
}

.CV-header {
    margin-bottom: 10px;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block {
    width: 500px;
    border-bottom: 1px solid black;
}

span {
    font-weight: bold;
}

.CV-photo {
    grid-area: photo;
    max-width: 300px;
    height: 150px;
    border: 1px  solid black;
    background-color: white;
}

.CVJobInfo {
    padding: 10px;
    margin-top: 10px;
    width: 500px;
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: var(--input-bg);
}

.CVJobInfo_recommendation {
    padding: 10px;
    margin-top: 50px;
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: var(--input-bg);
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--button-bg);
    cursor: pointer;
}

button:hover {
    background-color: var(--hoover-button-bg);
}