header {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.Hi_massage {
    display: flex;
    justify-content: center; 
    align-items: center;
}

main h3 {
    display: flex;
    justify-content: center;
}

/* .Start_work{
    display: flex;
} */

main button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(142, 241, 237);
    cursor: pointer;
}
main button:hover {
    background-color: rgb(116, 201, 198);
}

/* Настройки разделов ФИО: */

.first_name {
    grid-area: first_name;
    border-radius: 10px;
    max-width: 250px;
    height: 35px;
}

.name {
    grid-area: name;
    border-radius: 10px;
    max-width: 250px;
    height: 35px;
}

.surname {
    grid-area: surname;
    border-radius: 10px;
    max-width: 250px;
    height: 35px;
}

.phone_number {
    grid-area: phone_number;
    border-radius: 10px;
    max-width: 250px;
    height: 35px;
}

.your_photo {
    grid-area: your_photo;
}

.photo {
    grid-area: photo;
    max-width: 400px;
    height: 150px;
    border: 1px  solid black;
}

.Full_name {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 1200px;
    align-items: center;
    
    /* разметка сетки */
    grid-template-areas: 
    "first_name photo"
    "name photo"
    "surname photo"
    "phone_number your_photo";
}
