body {
    background-color: var(--main-bg);
    opacity: 1;
}

header {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.Hi_massage {
    justify-items: center;
}

main h3 {
    display: flex;
    justify-content: center;
}

.block_choose {
    gap: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_choose select {
    background-color: var(--input-bg);
    max-width: 150px;
    max-height: 30px;
    border-radius: 10px;
}

/* Кнопка */
button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--button-bg);
    cursor: pointer;
}
button:hover {
    background-color: var(--hoover-button-bg);
}

.block_btn {
    gap: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

footer {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.block_ready {
    gap: 10px;
    margin-bottom: 50px;
    justify-items: center;
    align-items: center;
}

/* Настройки разделов ФИО: */
.block {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.block_divs {
    width: max-content;
}

.first_name {
    grid-area: first_name;
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: var(--input-bg);
    max-width: var(--input-max-width);
    height: var(--input-height);
}

.surname {
    grid-area: name;
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: var(--input-bg);
    max-width: var(--input-max-width);
    height: var(--input-height);
}

.patronymic{
    grid-area: surname;
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: var(--input-bg);
    max-width: var(--input-max-width);
    height: var(--input-height);
}

.phone_number {
    grid-area: phone_number;
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: var(--input-bg);
    max-width: var(--input-max-width);
    height: var(--input-height);
}

.your_photo {
    grid-area: your_photo;
}

.photo {
    grid-area: photo;
    max-width: 300px;
    height: 150px;
    border: var(--input-border);
}

.Full_name img {
    background-color: var(--input-bg);
}

 /* GRID сетка */
.Full_name {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 1200px;
    justify-items: center;
    align-items: center;
    
    /* разметка сетки */
    grid-template-areas: 
    "first_name photo"
    "name photo"
    "surname photo"
    "phone_number your_photo";
}

/* ==================================================================================================== */

/* Опыт работы */
.company {
    grid-area: your_company;
}

.your_company {
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: var(--input-bg);
    max-width: var(--input-max-width);
    height: var(--input-height);
}

.position{
    grid-area: your_psition;
}

.your_position{
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: var(--input-bg);
    max-width: var(--input-max-width);
    height: var(--input-height);
}

.workTime {
    grid-area: your_workTime;
}

.your_workTime {
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: var(--input-bg);
    max-width: var(--input-max-width);
    height: var(--input-height);
}

.duties {
    grid-area: your_duties;
}

.your_duties {
    border: var(--input-border);
    background-color: var(--input-bg);
    width: 300px;
    height: 200px;
    resize: none;
}

.workExp {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    grid-template-areas: 
    "your_company your_duties"
    "your_psition your_duties"
    "your_workTime your_duties";
}

/* ==================================================================================================== */
.about_education {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.education {
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: var(--input-bg);
    width: 220px;
    height: var(--input-height);
}

.specialisation {
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: var(--input-bg);
    width: 220px;
    height: var(--input-height);
}

.education_time {
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: var(--input-bg);
    width: 220px;
    height: var(--input-height);
}

/* ==================================================================================================== */

.block_about {
    gap: 10px;
    display: flex;
    justify-content: center;
}

.skills {
    border: var(--input-border);
    background-color: var(--input-bg);
    width: 300px;
    height: 200px;
    resize: none;
}

.info {
    border: var(--input-border);
    background-color: var(--input-bg);
    width: 300px;
    height: 200px;
    resize: none;
}